body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0px;

    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header, .signup-block, .infocards-block, .quote-block, .ad-block, .footer {
    width: 100%;
    box-sizing: border-box;
    padding-left: 12.5%;
    padding-right: 12.5%;
}

.header {
    flex: 0 0 auto;
    background-color: #1F2937;
    padding-top: 1em;
    padding-bottom: 1em;
}

.signup-block {
    flex: 1 0 auto;
    background-color: #1F2937;
}

.infocards-block {
    flex: 1 0 auto;
    background-color: #FFFFFF;
}

.quote-block {
    flex: 1 0 auto;
    background-color: #E5E7EB;
}

.ad-block {
    flex: 1 0 auto;
    background-color: #FFFFFF;
}

.footer {
    height: 100px;
    flex: 0 0 auto;
    background-color: #1F2937;
}

.header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 18px;

    display: flex;
    justify-content: space-between;
    gap: 18px;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #F9FAF8
}

#header-logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 900;
}