body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0px;

    font-family: 'Roboto', sans-serif;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.header, .signup-block, .infocards-block, .quote-block, .ad-block, .footer {
    width: 100%;
    box-sizing: border-box;
    padding-left: 12.5%;
    padding-right: 12.5%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    height: 70px;
    flex: 0 0 auto;
    background-color: #1F2937;
    padding-top: 1em;
    padding-bottom: 1em;
}

.header ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 18px;

    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    align-items: center;
}

.header a {
    text-decoration: none;
    color: #F9FAF8
}

#header-logo {
    margin-right: auto;
    font-size: 24px;
    font-weight: 900;
}

.signup-block {
    flex: 0 0 auto;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px; 

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.signup-block div {
    flex: 1 0 100px;
}

#hero-text-section {
    align-self: start;
}

.signup-block h1 {
    margin: 0px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.signup-block p {
    font-size: 18px;
    color: #E5E7EB;
}

.signup-block button {
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
    background-color: #3882F6;
    border-style: none;
    border-radius: 7px;
    padding: 0.4em 1.75em;
    text-align: center;
}

.signup-block img {
    width: 100%;
    height: auto;
    background-color: grey;
}

.infocards-block {
    flex: 1 0 auto;
    background-color: #FFFFFF;
}

.quote-block {
    background-color: #E5E7EB;
}

.quote-block div {
    padding: 2.5em 12.5%;
}

.quote-block p {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 0px;
}

.quote-block .quote-attribution {
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    text-align: right;
    margin: 0px;
}

.ad-block {
    flex: 1 0 auto;
    background-color: #FFFFFF;
}

.footer {
    height: 70px;
    flex: 0 0 auto;
    background-color: #1F2937;
}

.footer p {
    color: #F9FAF8;
}